.movie-edit-form-wrapper {
  padding: 10px;
}

.movie-edit-form-title {
  padding-bottom: 10px;
  border-bottom: 1px solid chartreuse;
  font-size: 24px;
}

.movie-edit-form {
  padding-top: 10px;
}

.movie-edit-form-label {
  color: white;
  font-weight: normal;
}
