.movie-list-wrapper {
  padding: 10px;
}

.movie-list-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #48c78e;
  font-size: 24px;
}

.movie-list {
  padding: 10px;
}

.movie-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;

}

.movie-list-item-icon {
  margin-right: 10px;
  color: #48c78e;
}

.movie-controls {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
